@use 'fonts';
@use 'theme';
@use 'responsive';

body,
html {
  background: theme.$primaryBg;
  min-height: 100vh;
  color: theme.$primaryText;

  padding: 0;
  margin: 0;

  @include responsive.smallScreen {
    font-size: calc(0.65rem + 0.85vw);
  }
}

*,
*::before,
*::after {
  font-family: 'Monda', sans-serif;
}

input,
select,
option,
label {
  font-size: inherit;
  font-family: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;

  color: white;
  background-color: #0e0e0e;

  &:hover {
    background-color: #1a1a1a;
  }

  &:focus-visible {
    color: theme.$accentText;
  }

  &.btn--image {
    display: flex;
    background: none;

    img {
      vertical-align: middle;
    }

    &:focus-visible {
      outline: 1px solid theme.$accentText;
    }
  }
}

// Input radio
.g-selector {
  label {
    background-color: #0e0e0e;
    cursor: pointer;

    display: flex;
    justify-content: center;

    &:hover {
      background-color: #1a1a1a;
    }

    span {
      width: 100%;
      padding: 0.25em 0.5em;
    }

    input[type='radio'] {
      opacity: 0;
      width: 1px;
      height: 1px;
      position: absolute;

      &:checked + span {
        color: theme.$accentText;
      }

      &:focus-visible + span {
        outline: 1px solid white;
      }
    }
  }
}
